.gameCell {
	width: 100px;
	height: 100px;
	background-color: blueviolet;
}

.square {
	background: rgb(163, 201, 250);
	position: relative;
	width: 100px;
    height: 100px;
    padding-top: 10px;
    font-size: 50px;
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100px;
    width: 100%;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
    font-size: 400%;
    font-weight: bolder;
}
